# Python / ML
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node / React
node_modules/
build/

# macOS
.DS_Store

# Project Specific
*.mp4
*.avi
/frames/
/logs/

#UV related
uv.lock
core_engine/test2.mov
uv.lock
